@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Hi Boopalan</p>
    <button type="button" class="btn btn-primary" id="AddUser">Add User</button>
</div>

<script>
   $("#AddUser").click(function(){
       debugger;
       window.location.href='Users/Create';
   });
</script>